@import "./ayu-dark.css";


* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: 600;
  font-size: 14px;
  min-height: 0;
  transition-property: background;
  transition-duration: .05s;
}

window#waybar {
  background: @background;
  border-bottom: 1px solid #333333;
}

tooltip {
  background: @black;
  border-radius: 8px;
  padding: 10px;
  color: @brightBlack;
}

#workspaces button {
  padding: 0px 4px;
  margin: 2px 2px;
  border-radius: 4px;
}

#workspaces button.active {
  background: #1f2329;
}

#language {
  font-size: 28px;
  margin: -7px 4px -7px -2px;
}

#workspaces button.focused {
  border-radius: 4px;
}

#workspaces button.urgent {
  color: @background;
  background: @red; 
  border-radius: 4px;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.1); /* Slight hover highlight */
  border-radius: 4px;
}

#custom-power_profile,
#idle_inhibitor,
#window,
#clock,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#memory,
#custom-powermenu,
#custom-pipewire,
#language
{
  opacity: 1;
  padding: 0px 10px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left:0;
}
.modules-right > widget:last-child > #workspaces {
  margin-right:0;
}

window#waybar.empty #window {
  background-color: transparent;
}

