@import "./ayu-dark.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 600;
  font-size: 14px;
  min-height: 0;
}
#custom-notification {
  font-family: "JetBrainsMono Nerd Font";
}

window#waybar {
  background: @background;
   border-bottom: 1px solid #444444;
}

tooltip {
  background: rgba(0, 0, 0, 0.9);
  border: 2px solid @highlightLow;
  border-radius: 8px;
  padding: 10px;
  color: @brightBlack;
}

#workspaces button {
  padding: 0px 4px;
  color: @highlightHigh;
  margin: 2px 2px;
  border-radius: 4px;
}

#workspaces button.active {
  border-radius: 4px;
}

#language {
  font-size: 28px;
  margin: -7px 4px -7px -2px;
}

#workspaces button.focused {
  color: @subtle;
  /* background: @love; */
  border-radius: 4px;
}

#workspaces button.urgent {
  color: @background;
  background: @red; 
  border-radius: 4px;
}

#workspaces button:hover {
  color: @iris;
  background: rgba(255, 255, 255, 0.1); /* Slight hover highlight */
  border-radius: 4px;
}

#custom-power_profile,
#idle_inhibitor,
#window,
#clock,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#memory,
#custom-powermenu
{
  opacity: 1;
  padding: 0px 10px;
}

#bluetooth {
  color: @text;
}

#memory {
  color: @pine;
}

#temperature {
  color: @text;
}

#temperature.critical {
  color: @love;
}

#tray {
}

#custom-power_profile {
  color: @foam;
}

#window {
  color: @text;
}

window#waybar.empty #window {
  background-color: transparent;
}

#clock {
  color: @rose;
}

#network {
  color: @love;
}

#pulseaudio {
  color: @iris;
}

#pulseaudio.microphone {
  color: @text;
}

